@import '../settings/colors';

.free-trial-banner {
  background-color: $purple-highlight;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;

  a {
    margin-left: 10px;
  }
}
