.color-4 {
  --theme-color-bg: rgb(52,64,69);
  --theme-color-bg-gradient: radial-gradient(rgb(52,64,69),rgb(32,44,49));
  --theme-color-fg: rgb(242,84,105);
  --theme-color-emphasis: rgb(255,255,255);
  --theme-color-strong: rgb(255,255,255);
  --theme-color-pre: rgb(222,222,222);
  --theme-color-table-th: rgba(0,0,0,0.1);
  --theme-color-table-border: rgb(51,51,51);

  .preview {
    background-image: linear-gradient(-45deg, --theme-color-fg 50%, rgb(52,64,69) 50%);
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--theme-color-fg);
  }

  section {
    background-image: var(--theme-color-bg-gradient);
    color: var(--theme-color-fg);
  }

  .section > div.frame > div > p > code {
    color: var(--theme-color-fg);
    background-color: transparent;
  }

  p, h1, h2, h3, h4 {
    > code {
      color: var(--theme-color-fg);
      background-color: transparent;
      text-transform: none;
    }
  }

  a {
    color: var(--theme-color-fg);
    border-bottom: 1px solid var(--theme-color-emphasis);
  }

  em {
    color: var(--theme-color-emphasis);
  }

  strong {
    color: var(--theme-color-strong);
  }

  table, th, td {
    border: 1px solid var(--theme-color-table-border);
  }

  table th {
    background-color: var(--theme-color-table-th);
  }

  section .background-image-filter {
    filter: contrast(0.7) brightness(2.0);
    opacity: 0.3;
  }

  pre {
    background-color: rgb(50,50,50);
    padding: 8px 15px;
    display: block;
    overflow: hidden;
    color: #bababa;
    line-height: 1.1;
    font-size: 17px;
    border-radius: 5px;
  }

  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }

  .hljs-bullet,
  .hljs-quote,
  .hljs-link,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal {
    color: #6896ba;
  }

  .hljs-code,
  .hljs-selector-class {
    color: #a6e22e;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-attribute,
  .hljs-name,
  .hljs-variable {
    color: #cb7832;
  }

  .hljs-params {
    color: #b9b9b9;
  }

  .hljs-string {
    color: #6a8759;
  }

  .hljs-subst,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-symbol,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-addition {
    color: #e0c46c;
  }

  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #7f7f7f;
  }
}
