.toggle {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Rounded sliders */ }
  .toggle span {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px; }
  .toggle .switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; }
    .toggle .switch input {
      display: none; }
    .toggle .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #9994f9;
      -webkit-transition: .2s;
      transition: .2s; }
    .toggle .switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fefeff;
      -webkit-transition: .2s;
      transition: .2s; }
  .toggle input:checked + .slider {
    background-color: #42b689; }
  .toggle input:focus + .slider {
    box-shadow: 0 0 1px #42b689; }
  .toggle input:checked + .slider:before {
    transform: translateX(26px); }
  .toggle .slider.round {
    border-radius: 4px; }
  .toggle .slider.round:before {
    border-radius: 4px; }
