@import '../settings/colors';

.top-header {
  background-color: #555;
  width: 100%;
  height: 60px;
  padding-top: 17px;
  margin-top: -20px;
}

.top-header h4 {
  font-size: 20px;
}

.deck-title {
  text-align: center;
}

.deck-title > i {
  font-size: 12px;
}

.edit-deck {
  .sidebar {
    overflow-y: auto;
    height: calc(100vh - 100px);
    background-color: $side-well-bg-color;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
  }

  .edit-deck-lighttable {
    height: calc(100vh - 220px);
    overflow-y: auto;

    > .slide-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      overflow-y: auto;
    }
  }

  .slide-list > li {
    width: 250px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .markdown-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $purple-highlight;
    margin-bottom: -10px;
    height: 60px;

    .right-border {
      border-right: 1px solid #555;
    }

    .list-inline {
      padding-top: 13px;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      height: 100%;

      > li {
        margin-left: 10px;

        img {
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .slide-list-full-width > li {
    width: 97%;
  }

  .theme-chooser-popover {
    max-width: 80%;
  }

  .empty-selection-msg {
    padding: 5px;
    margin-left: 15px;
  }

  .edit-slide-view-toggle {
    margin-top: -75px;
  }

  .slide-area {
    position: relative;
    background-color: $main-well-bg-color;
    padding-right: 0;
  }

  .slide-area-header {
    height: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .slide-controls {
      display: flex;

      @media(max-width: 768px) {
        flex-direction: column;
      }

      flex-direction: column;
      a {
        margin-bottom: 10px;
      }

      .toggle {
        padding-top: 0;
        display: inline;
        margin-right: 20px;

        label {
          margin-top: 0;
        }

        span {
          color: #ddd;
          vertical-align: top;
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;

          &.first {
            padding-left: 0;
          }
        }

        .switch {
          width: 40px;
          height: 24px;

          .slider:before {
            height: 15px;
            width: 15px;
          }
          input:checked + .slider:before {
            transform: translateX(15px);
          }
        }
      }

    }

    .button-area {
      margin-right: 20px;
      > button {
        margin-right: 15px;
      }
    }

    > a {
      color: rgb(221,221,221);
      font-size: 16px;
      margin-right: 30px;
    }

  }

  .delete-slide {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }

  .transition-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .transition-chooser > li {
    padding: 3px;
  }

  .transition-name {
    text-align: center;
  }

  .edit-deck-name {
    color: $color1;
    margin-bottom: 35px;

    a {
      margin-left: 15px;
    }

    img {
      width: 15px;
    }
  }

  .edit-deck-name > i {
    margin-right: 20px;
  }

  .edit-deck-name > a {
    color: #fdfdfe;
  }

  $dark-slide-options: rgb(50,50,50);

  .slide-options {
    i.color1, i.color2, i.color3, i.color7 {
      color: $dark-slide-options
    }

    i.color4, i.color5, i.color6, i.color8 {
      color: $color1;
    }
  }

  .asset-list {

    li {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding-top: 10px;
    }

    a {
      margin-right: 10px;
    }

    .asset-preview {
      width: 50px;
      float: left;
      margin-right: 10px;
    }

    .asset-filename {
      padding-top: 15px;
    }
  }


  .public-label {
    font-weight: normal;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    border: 0.5px solid $color1;
    border-radius: 3px;
  }
}
