@import '../settings/colors';

$main-bg-color: rgb(107,100,246);

.justify-content-md-center {
  display: flex;
  justify-content: center;
}


.pricing {
  background-image: url("/images/hero-logo-background.png");
  background-repeat: repeat;
  background-color: $main-bg-color;
  padding-bottom:  260px;

  .hero {
    padding-top: 20px;

    h1 {
      text-align: center;
    }

    h2 {
      padding-bottom: 30px;
      font-weight: normal;
      text-align: center;
    }
  }

  .annual-payment-toggle-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(114,107,245);
    text-align: center;
    border-radius: 80px;

    h4 {
      color: $dark-color;
    }

    .payment-toggle {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @import '../components/toggle-switch';
  }
}

.plans {
  margin-top: -250px;
  padding-bottom: 80px;

  .payment-plans {
    padding-top: 50px;
    .price-container {
      background-color: white;

      border-radius: 10px;

      .header {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        background-color: rgb(32,39,65);
        text-align: center;
        padding: 20px 0;

        .for {
          font-size: 20px;
          margin-left: 5px;
          margin-right: 5px;
          font-weight: normal;
        }
      }

      .price-details {
        background-color: white;
        padding-top: 40px;
        padding-bottom: 40px;

        .price {
          display: flex;
          align-items: center;
          justify-content: center;

          .dollar {
            font-size: 30px;
            color: rgb(108,99,247);
          }

          h1 {
            font-size: 108px;
            color: rgb(108,99,247);
            text-align: center;
            display: inline-block;
          }
        }

        .per-month {
          margin-top: -23px;
          text-align: center;
          color: #777;
        }
      }

      ul {
        width: 100%;
        padding: 0;

        li {
          color: #777;
          font-size: 18px;
          background-color: white;
          list-style-type: none;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        li:before {
          content: "- ";
        }

        li:nth-child(odd) {
          background-color: #ECEBFD;
        }
      }

      .button-holder {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        button {
          width: 80%;
        }
      }

      i {
        display: block;
        color: $dark-color;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}

.stripe-form {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;

  button {
    float: right;
  }
}
