table {
  width: 100%;
  font-size: 30px;

  td, th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

h1,h2,h3,h4 {
  word-wrap: break-word;
  text-align: center;
}

section {
  position: relative;

  .left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px);

    .background-image {
      top: -10px;
      left: -370px;
    }
  }

  .right {
    position: absolute;
    top: 10px;
    left: calc(50% + 10px);
    width: calc(50% - 20px);

    .background-image {
      top: -10px;
    }
  }
}
