// .present-notes {
//   width: 100%;
//
//   p,h1,h2,h3,h4,h5,h6,ul,ol,pre,.background-image {
//     display: none !important;
//   }
//
//   p.presenter-notes {
//     display: block;
//     font-size: 50px;
//   }
// }

.CodeMirror {
  min-height: 300px;
}

.slide-outer {
  overflow: hidden;
}

section {
  display: block; // needed to display background images
  // position: relative;
  // display: flex;
  // z-index: 10;
  // overflow: hidden;
  // position: absolute;

  //all: initial;
  * {
    all: unset;
  }

  /* disable highlighting/selecting for a more native app feel */
  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
        -webkit-user-select: none;
            user-select: none;
  }

  div {
    display: block;
  }

  code {
    font-family: 'Inconsolata';
  }

  pre {
    font-family: 'Inconsolata';
    padding: 10px;
  }

  table {
    width: 100%;
    font-size: 30px;

    td, th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  h1,h2,h3,h4 {
    display: block;
    word-wrap: break-word;
    text-align: center;
  }

  h1.fit {
    font-size: 20px;
    white-space: nowrap;
    display: none; // gets resized via JS in the <Slide> component
    margin-top: 0;
  }

  .frame {
    width: 100%;
    height: 100%;

    > div {
      padding: 25px;
    }
  }

  // Used when there is a single h1 element on screen.
  .singleElement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px;
  }

  .background-image-filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px;
  }

  @keyframes kenburns {
    50% {
      transform: scale3d(1.6, 1.6, 1.6) translate3d(-60px, -50px, 0px);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
      animation-timing-function: ease-in-out;
    }
  }

  .background-image-kenburns {
    animation: kenburns 90s infinite;
    zoom: 120%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px;
  }

  .background-image-inline {
    width: 100%;
    max-width: 720px;
    max-height: 425px;
  }

  .slideContainer {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px);

    .background-image {
      top: -10px;
      left: -370px;
    }
  }

  .right {
    position: absolute;
    top: 10px;
    left: calc(50% + 10px);
    width: calc(50% - 20px);

    .background-image {
      top: -10px;
    }
  }
}
