.layout-left-title {
  width: 100%; }
  .layout-left-title > div {
    height: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px; }
  .layout-left-title h1 {
    font-size: 70px !important;
    white-space: normal !important;
    text-align: left; }
  .layout-left-title h2 {
    font-size: 40px !important;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px; }
