/* Fauna */
@import '../themes-global';

@import url('https://fonts.googleapis.com/css?family=Cabin|Patrick+Hand');

$primary-font: 'Cabin';
$secondary-font: 'Patrick Hand';

.fauna {
  @import '../themes-global';

  font-family: $primary-font;

  h1,h2,h3,h4,p,a {
    font-family: $primary-font;
  }

  em {
    font-family: $secondary-font;
  }


  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 88px;
  }

  h3 {
    font-size: 70px;
  }

  h4 {
    font-size: 38px;
  }

  section ol {
    list-style-type: decimal;
  }

  section ul {
    list-style-type: disc;
  }

  section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 23px;
  }

  section p {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  section strong {
    font-weight: bold
  }

  .layout-picture-frame {
    h1 {
      margin-top: 50px !important;
    }
    h2 {
      font-size: 25px !important;
      font-family: $secondary-font;
    }
  }
}
