@page {
  margin: 0;
  padding: 0;
  size: 720px 451px; }

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    zoom: 1 !important; }
  body {
    margin: 0 auto !important;
    border: 0;
    padding: 0;
    float: none !important;
    overflow: visible; }
  .instructions {
    display: none; }
  .export-pdf {
    position: relative; }
    .export-pdf .export-pdf-container {
      overflow: hidden;
      width: auto !important;
      position: relative; }
    .export-pdf .slide-outer {
      width: 720px;
      height: 450px;
      page-break-after: always !important;
      visibility: visible;
      opacity: 1 !important;
      position: relative !important;
      box-sizing: border-box !important;
      margin: 0 !important;
      padding: 0 !important; }
      .export-pdf .slide-outer > div {
        width: 720px !important;
        height: 450px !important; }
      .export-pdf .slide-outer section {
        transform-origin: none !important;
        transform: none !important; } }
