@charset "UTF-8";
/* Bebas */
@font-face {
  font-family: "bebas";
  src: url("./bebas_neue_regular.otf");
  font-weight: 200; }

@font-face {
  font-family: "bebas_bold";
  src: url("./bebas_neue_bold.otf");
  font-weight: 300; }

@font-face {
  font-family: "sketch_block";
  src: url("./Sketch_Block.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Just Another Hand";
  src: local("Just Another Hand"), local("JustAnotherHand-Regular"), url("./just-another-hand.woff2");
  font-weight: 200; }

.theme-1 {
  --primary-font: 'bebas';
  --bold-font: 'bebas_bold';
  --secondary-font: 'Just Another Hand';
  font-family: var(--primary-font); }
  .theme-1 a {
    font-family: var(--primary-font); }
  .theme-1 em {
    font-family: var(--secondary-font); }
  .theme-1 strong {
    font-family: var(--bold-font); }
  .theme-1 h1.singleHeader {
    margin-top: 7% !important; }
  .theme-1 h1, .theme-1 h2, .theme-1 h3, .theme-1 h4, .theme-1 h5, .theme-1 h6 {
    margin-top: 1% !important;
    font-family: var(--primary-font);
    text-transform: uppercase; }
  .theme-1 h1 {
    font-size: 68px; }
  .theme-1 h1 em {
    font-size: 68px; }
  .theme-1 h1.fit em {
    font-size: inherit; }
  .theme-1 h2 {
    font-size: 90px; }
  .theme-1 h2 em {
    font-size: 100px; }
  .theme-1 h3 {
    font-size: 80px; }
  .theme-1 h3 em {
    font-size: 80px; }
  .theme-1 h4 {
    font-size: 38px;
    text-transform: uppercase; }
  .theme-1 h4 em {
    font-size: 38px; }
  .theme-1 section ol {
    list-style-type: decimal; }
  .theme-1 section ul {
    list-style-type: disc; }
  .theme-1 section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .theme-1 li:before {
    content: "•";
    padding-right: 8px; }
  .theme-1 section p {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .theme-1 .layout-picture-frame h1 {
    margin-bottom: 20px; }
  .theme-1 .layout-picture-frame h2 {
    font-size: 25px !important;
    font-family: var(--secondary-font); }
  .theme-1 .layout-circle-title h2 {
    font-family: var(--secondary-font); }
