$bg-color1: #191f2f;

$color1: rgb(250,250,250);
$slightly-muted-color: rgb(220,220,220);
$color2: rgb(200,200,200);

$dark-color: rgb(55,55,55);

$muted-color:  rgb(150,150,150);

$link-light-color: rgb(221,221,221);
$link-light-hover-color: rgb(253,253,254);

$side-well-bg-color: rgb(25,31,47);
$main-well-bg-color: rgb(30,38,61);
$alternate-well-bg-color: rgb(31,40,64);

$border-color: rgb(60,60,60);

$green-color: rgb(66,182,137);

$purple-highlight: rgb(107,100,246);
$other-gradient-color: rgb(102,141,245);

$purple-highlight-darkened: darken($purple-highlight, 5%);
$other-gradient-darkened: darken($other-gradient-color, 5%);

$highlight-color: linear-gradient(to left, $purple-highlight 0%, $other-gradient-color 100%);
$highlight-color-darkened: linear-gradient(to left, $purple-highlight-darkened 0%, $other-gradient-darkened 100%);

$green-success-color: rgb(67,182,137);
$red-danger-gradient: linear-gradient(-270deg, rgb(245,81,95) 0%, rgb(159,4,27) 100%);


