.modal-dialog {
  h1,h2,h3,h4 {
    color: $dark-color;
  }

  .btn {
    border-radius: 3px;
  }

  @media (min-width: 1000px) {
    width: 850px;
  }

  .modal-title {
    text-align: left;
  }

  .modal-header, .modal-body, .modal-footer {
    color: #222831;
  }

  .modal-body a:hover, .dropdow-menu a:hover {
    color: #383CF3;
  }

  .modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    color: $color1;
    background: $highlight-color;

    h4 {
      color: $color1;
    }
  }

}
