.color-1 {
  --theme-color-bg: rgb(237,242,246);
  --theme-color-fg: rgb(73,73,83);
  --theme-color-emphasis: rgb(106,126,252);
  --theme-color-pre: rgb(50,50,50);
  --theme-color-table-th: rgba(0,0,0,0.1);
  --theme-color-table-border: rgb(51,51,51);

  .preview {
    background-image: linear-gradient(-45deg, var(--theme-color-bg) 50%, var(--theme-color-fg) 50%);
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--theme-color-fg);
  }

  section {
    background-color: var(--theme-color-bg);
    background-image: url('./bright-squares.png');
    color: var(--theme-color-fg);
  }

  .section > div.frame > div > p > code {
    color: var(--theme-color-fg);
    background-color: transparent;
  }

  p, h1, h2, h3, h4 {
    > code {
      color: var(--theme-color-fg);
      background-color: transparent;
      text-transform: none;
    }
  }

  a {
    color: var(--theme-color-fg);
    border-bottom: 1px solid var(--theme-color-emphasis);
  }

  em {
    color: var(--theme-color-emphasis);
  }

  table, th, td {
    border: 1px solid var(--theme-color-table-border);
  }

  table th {
    background-color: var(--theme-color-table-th);
  }

  section .background-image-filter {
    filter: brightness(1.7) contrast(0.5);
    opacity: 0.5;
  }

  @import './code-dark';
}
