/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.CodeMirror {
  min-height: 300px; }

.slide-outer {
  overflow: hidden; }

section {
  display: block;
  /* disable highlighting/selecting for a more native app feel */ }
  section * {
    all: unset; }
  section :not(a):not(input):not(textarea),
  section :not(a):not(input):not(textarea)::after,
  section :not(a):not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none; }
  section a {
    cursor: pointer; }
  section div, section li {
    display: block; }
  section pre {
    font-family: 'Inconsolata';
    white-space: pre;
    padding: 10px; }
  section table {
    width: 100%;
    font-size: 30px; }
    section table td, section table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  section h1, section h2, section h3, section h4 {
    display: block;
    word-wrap: break-word;
    text-align: center; }
  section h1.fit {
    font-size: 20px;
    white-space: nowrap;
    display: none;
    margin-top: 0; }
  section .frame {
    width: 100%;
    height: 100%; }
    section .frame > div {
      padding: 25px; }
  section .singleElement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  section .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px; }
  section .background-image-filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px; }

@keyframes kenburns {
  50% {
    transform: scale3d(1.6, 1.6, 1.6) translate3d(-60px, -50px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; } }
  section .background-image-kenburns {
    animation: kenburns 90s infinite;
    zoom: 120%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px; }
  section .background-image-inline {
    width: 100%;
    max-width: 720px;
    max-height: 425px; }
  section .slideContainer {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; }
  section .left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px); }
    section .left .background-image {
      top: -10px;
      left: -370px; }
  section .right {
    position: absolute;
    top: 10px;
    left: calc(50% + 10px);
    width: calc(50% - 20px); }
    section .right .background-image {
      top: -10px; }
