@import url("https://fonts.googleapis.com/css?family=Cabin:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Cabin|Patrick+Hand");
@import url("https://fonts.googleapis.com/css?family=Lemonada|Libre+Franklin");
@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
@import url("https://fonts.googleapis.com/css?family=Farsan|Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i");
@import url("https://fonts.googleapis.com/css?family=Neucha|Oswald");
@import url("https://fonts.googleapis.com/css?family=Kalam|Yanone+Kaffeesatz:300,400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css");
.singleElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px; }

.background-image-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px; }

@keyframes kenburns {
  50% {
    transform: scale3d(1.6, 1.6, 1.6) translate3d(-60px, -50px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; } }

.background-image-kenburns {
  animation: kenburns 90s infinite;
  zoom: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px; }

.background-image-inline {
  width: 100%; }

p.presenter-notes {
  display: none; }

.deckContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.section {
  display: flex;
  z-index: 10;
  overflow: hidden;
  position: absolute; }

.section h1.fit {
  font-size: 20px;
  white-space: nowrap;
  display: none;
  margin-top: 0; }

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  margin: 0; }

.frame {
  width: 100%;
  height: 100%; }

.frame > div {
  padding: 25px; }

.slideContainer {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }

code {
  font-family: 'Inconsolata'; }

pre {
  font-family: 'Inconsolata';
  padding: 10px; }

.present-notes {
  width: 100%; }

.present-notes p,
.present-notes h1,
.present-notes h2,
.present-notes h3,
.present-notes h4,
.present-notes h5,
.present-notes h6,
.present-notes ul,
.present-notes ol,
.present-notes .background-image,
.present-notes pre {
  display: none !important; }

.present-notes p.presenter-notes {
  display: block !important;
  font-size: 50px; }

.present-notes h1 {
  display: none; }

/* disable highlighting/selecting for a more native app feel */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none; }

input, button, textarea, :focus {
  outline: none; }

.CodeMirror {
  min-height: 300px; }

.slide-outer {
  position: relative;
  visibility: hidden;
  display: none;
  transform-style: preserve-3d;
  transition: transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 400ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 400ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.slide-outer.past {
  visibility: hidden; }

.slide-outer.future {
  visibility: hidden; }

.slide-outer.current {
  visibility: visible;
  display: block; }

/* Bebas */
@font-face {
  font-family: "bebas";
  src: url("./fonts/bebas_neue_regular.otf");
  font-weight: 200; }

@font-face {
  font-family: "bebas_bold";
  src: url("./fonts/bebas_neue_bold.otf");
  font-weight: 300; }

@font-face {
  font-family: "sketch_block";
  src: url("./fonts/Sketch_Block.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Just Another Hand";
  src: local("Just Another Hand"), local("JustAnotherHand-Regular"), url("./fonts/just-another-hand.woff2");
  font-weight: 200; }

.bebas {
  font-family: "bebas"; }
  .bebas table {
    width: 100%;
    font-size: 30px; }
    .bebas table td, .bebas table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .bebas h1, .bebas h2, .bebas h3, .bebas h4 {
    word-wrap: break-word;
    text-align: center; }
  .bebas section {
    position: relative; }
    .bebas section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .bebas section .left .background-image {
        top: -10px;
        left: -370px; }
    .bebas section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .bebas section .right .background-image {
        top: -10px; }
  .bebas a {
    font-family: "bebas"; }
  .bebas em {
    font-family: "Just Another Hand"; }
  .bebas strong {
    font-family: 'bebas_bold'; }
  .bebas h1.singleHeader {
    margin-top: 7% !important; }
  .bebas h1, .bebas h2, .bebas h3, .bebas h4, .bebas h5, .bebas h6 {
    margin-top: 1% !important;
    font-family: 'bebas';
    text-transform: uppercase; }
  .bebas h1 {
    font-size: 68px; }
  .bebas h1 em {
    font-size: 68px; }
  .bebas h1.fit em {
    font-size: inherit; }
  .bebas h2 {
    font-size: 90px; }
  .bebas h2 em {
    font-size: 100px; }
  .bebas h3 {
    font-size: 80px; }
  .bebas h3 em {
    font-size: 80px; }
  .bebas h4 {
    font-size: 38px;
    text-transform: uppercase; }
  .bebas h4 em {
    font-size: 38px; }
  .bebas section ol {
    list-style-type: decimal; }
  .bebas section ul {
    list-style-type: disc; }
  .bebas section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .bebas section p {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .bebas .layout-picture-frame h1 {
    margin-bottom: 20px; }
  .bebas .layout-picture-frame h2 {
    font-size: 25px !important;
    font-family: "Just Another Hand"; }
  .bebas .layout-circle-title h2 {
    font-family: "Just Another Hand"; }

/* Fauna */
table {
  width: 100%;
  font-size: 30px; }
  table td, table th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; }

h1, h2, h3, h4 {
  word-wrap: break-word;
  text-align: center; }

section {
  position: relative; }
  section .left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(50% - 20px); }
    section .left .background-image {
      top: -10px;
      left: -370px; }
  section .right {
    position: absolute;
    top: 10px;
    left: calc(50% + 10px);
    width: calc(50% - 20px); }
    section .right .background-image {
      top: -10px; }

.fauna {
  font-family: "Cabin"; }
  .fauna table {
    width: 100%;
    font-size: 30px; }
    .fauna table td, .fauna table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .fauna h1, .fauna h2, .fauna h3, .fauna h4 {
    word-wrap: break-word;
    text-align: center; }
  .fauna section {
    position: relative; }
    .fauna section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .fauna section .left .background-image {
        top: -10px;
        left: -370px; }
    .fauna section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .fauna section .right .background-image {
        top: -10px; }
  .fauna h1, .fauna h2, .fauna h3, .fauna h4, .fauna p, .fauna a {
    font-family: "Cabin"; }
  .fauna em {
    font-family: "Patrick Hand"; }
  .fauna h1 {
    font-size: 68px; }
  .fauna h2 {
    font-size: 88px; }
  .fauna h3 {
    font-size: 70px; }
  .fauna h4 {
    font-size: 38px; }
  .fauna section ol {
    list-style-type: decimal; }
  .fauna section ul {
    list-style-type: disc; }
  .fauna section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 23px; }
  .fauna section p {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .fauna section strong {
    font-weight: bold; }
  .fauna .layout-picture-frame h1 {
    margin-top: 50px !important; }
  .fauna .layout-picture-frame h2 {
    font-size: 25px !important;
    font-family: "Patrick Hand"; }

/* Franklin */
.franklin {
  font-family: "Libre Franklin"; }
  .franklin table {
    width: 100%;
    font-size: 30px; }
    .franklin table td, .franklin table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .franklin h1, .franklin h2, .franklin h3, .franklin h4 {
    word-wrap: break-word;
    text-align: center; }
  .franklin section {
    position: relative; }
    .franklin section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .franklin section .left .background-image {
        top: -10px;
        left: -370px; }
    .franklin section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .franklin section .right .background-image {
        top: -10px; }
  .franklin em {
    font-family: "lemonada";
    letter-spacing: -1.8px; }
  .franklin strong {
    font-family: "lemonada";
    letter-spacing: -1.8px; }
  .franklin h1, .franklin h2, .franklin h3, .franklin h4, .franklin a, .franklin p {
    font-family: "Libre Franklin"; }
  .franklin h1 {
    font-size: 68px; }
  .franklin h2 {
    font-size: 78px; }
  .franklin h3 {
    font-size: 60px; }
  .franklin h4 {
    font-size: 38px; }
  .franklin section ol {
    list-style-type: decimal; }
  .franklin section ul {
    list-style-type: disc; }
  .franklin section li {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 1.2; }
  .franklin section p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .franklin section strong {
    font-weight: bold; }
  .franklin .layout-picture-frame h2 {
    font-size: 25px !important;
    font-family: "lemonada"; }

/* League */
@font-face {
  font-family: "LeagueGothic";
  src: url("./fonts/LeagueGothic-Regular.otf");
  font-weight: 200; }

@font-face {
  font-family: "LeagueGothicItalic";
  src: url("./fonts/LeagueGothic-Italic.otf");
  font-weight: 200; }

.league {
  font-family: "LeagueGothic"; }
  .league table {
    width: 100%;
    font-size: 30px; }
    .league table td, .league table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .league h1, .league h2, .league h3, .league h4 {
    word-wrap: break-word;
    text-align: center; }
  .league section {
    position: relative; }
    .league section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .league section .left .background-image {
        top: -10px;
        left: -370px; }
    .league section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .league section .right .background-image {
        top: -10px; }
  .league h1, .league h2, .league h3, .league h4, .league a, .league p {
    font-family: "LeagueGothic"; }
  .league em {
    font-family: "Just Another Hand"; }
  .league h1 {
    font-size: 68px;
    text-transform: uppercase; }
  .league h2 {
    font-size: 88px;
    text-transform: uppercase; }
  .league h3 {
    font-size: 70px;
    text-transform: uppercase; }
  .league h4 {
    font-size: 38px;
    text-transform: uppercase; }
  .league section ol {
    list-style-type: decimal; }
  .league section ul {
    list-style-type: disc; }
  .league section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .league section p {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .league section strong {
    font-weight: bold; }
  .league .layout-picture-frame h2 {
    font-size: 30px !important;
    font-family: "Just Another Hand"; }

/* Lobster */
.lobster {
  font-family: "Raleway"; }
  .lobster table {
    width: 100%;
    font-size: 30px; }
    .lobster table td, .lobster table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .lobster h1, .lobster h2, .lobster h3, .lobster h4 {
    word-wrap: break-word;
    text-align: center; }
  .lobster section {
    position: relative; }
    .lobster section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .lobster section .left .background-image {
        top: -10px;
        left: -370px; }
    .lobster section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .lobster section .right .background-image {
        top: -10px; }
  .lobster h1, .lobster h2, .lobster h3, .lobster h4, .lobster a, .lobster p {
    font-family: "Raleway"; }
  .lobster em {
    font-family: "Farsan"; }
  .lobster h1 {
    font-size: 68px;
    text-transform: uppercase; }
  .lobster h2 {
    font-size: 80px;
    text-transform: uppercase; }
  .lobster h3 {
    font-size: 64px;
    text-transform: uppercase; }
  .lobster h4 {
    font-size: 38px;
    text-transform: uppercase; }
  .lobster section ol {
    list-style-type: decimal; }
  .lobster section ul {
    list-style-type: disc; }
  .lobster section li {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .lobster section p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .lobster .layout-picture-frame h2 {
    font-size: 25px !important;
    letter-spacing: -1.5px;
    font-family: "Farsan"; }

/* Ostrich */
.ostrich {
  font-family: "IBM Plex Serif"; }
  .ostrich table {
    width: 100%;
    font-size: 30px; }
    .ostrich table td, .ostrich table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .ostrich h1, .ostrich h2, .ostrich h3, .ostrich h4 {
    word-wrap: break-word;
    text-align: center; }
  .ostrich section {
    position: relative; }
    .ostrich section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .ostrich section .left .background-image {
        top: -10px;
        left: -370px; }
    .ostrich section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .ostrich section .right .background-image {
        top: -10px; }
  .ostrich h1, .ostrich h2, .ostrich h3, .ostrich h4, .ostrich a, .ostrich p {
    font-family: "IBM Plex Serif"; }
  .ostrich h1 {
    font-size: 88px; }
  .ostrich h2 {
    font-size: 98px; }
  .ostrich h3 {
    font-size: 70px; }
  .ostrich h4 {
    font-size: 48px; }
  .ostrich section ol {
    list-style-type: decimal; }
  .ostrich section ul {
    list-style-type: disc; }
  .ostrich section li {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 23px; }
  .ostrich section p {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .ostrich section strong {
    font-weight: bold; }
  .ostrich section em {
    font-style: italic; }
  .ostrich .layout-picture-frame h2 {
    font-size: 25px !important;
    letter-spacing: -1.5px;
    font-family: "Kalam"; }

/* Oswald */
.oswald {
  font-family: "Oswald"; }
  .oswald table {
    width: 100%;
    font-size: 30px; }
    .oswald table td, .oswald table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .oswald h1, .oswald h2, .oswald h3, .oswald h4 {
    word-wrap: break-word;
    text-align: center; }
  .oswald section {
    position: relative; }
    .oswald section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .oswald section .left .background-image {
        top: -10px;
        left: -370px; }
    .oswald section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .oswald section .right .background-image {
        top: -10px; }
  .oswald h1, .oswald h2, .oswald h3, .oswald h4, .oswald a, .oswald em {
    font-family: "Oswald"; }
  .oswald em {
    font-family: "Neucha"; }
  .oswald h1 em {
    font-size: 68px; }
  .oswald h1.fit em {
    font-size: inherit; }
  .oswald h1 {
    font-size: 68px; }
  .oswald h2 {
    font-size: 88px; }
  .oswald h2 em {
    font-size: 88px; }
  .oswald h3 {
    font-size: 70px; }
  .oswald h3 em {
    font-size: 48px; }
  .oswald h4 {
    font-size: 38px; }
  .oswald h4 em {
    font-size: 38px; }
  .oswald section ol {
    list-style-type: decimal; }
  .oswald section ul {
    list-style-type: disc; }
  .oswald section li {
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .oswald section p {
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .oswald .layout-picture-frame h2 {
    font-size: 25px !important;
    font-family: "Neucha"; }

/* Yanone */
.yanone {
  font-family: 'playfair'; }
  .yanone table {
    width: 100%;
    font-size: 30px; }
    .yanone table td, .yanone table th {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
  .yanone h1, .yanone h2, .yanone h3, .yanone h4 {
    word-wrap: break-word;
    text-align: center; }
  .yanone section {
    position: relative; }
    .yanone section .left {
      position: absolute;
      top: 10px;
      left: 10px;
      width: calc(50% - 20px); }
      .yanone section .left .background-image {
        top: -10px;
        left: -370px; }
    .yanone section .right {
      position: absolute;
      top: 10px;
      left: calc(50% + 10px);
      width: calc(50% - 20px); }
      .yanone section .right .background-image {
        top: -10px; }
  .yanone a, .yanone p, .yanone b {
    font-family: 'Playfair'; }
  .yanone b {
    font-weight: 700; }
  .yanone h1, .yanone h2, .yanone h3, .yanone h4 {
    font-family: 'Yanone Kaffeesatz';
    text-transform: uppercase; }
  .yanone h1 {
    font-size: 68px; }
  .yanone h2 {
    font-size: 98px; }
  .yanone h3 {
    font-size: 78px; }
  .yanone h4 {
    font-size: 38px; }
  .yanone em {
    font-family: 'Kalam'; }
  .yanone section ol {
    list-style-type: decimal; }
  .yanone section ul {
    list-style-type: disc; }
  .yanone section li {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px; }
  .yanone section p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2; }
  .yanone section strong {
    font-weight: bold; }
  .yanone .layout-picture-frame h2 {
    font-size: 25px !important;
    letter-spacing: -1.5px;
    font-family: 'Kalam'; }

/* Color 1 */
/* Color 2 */
/* Color 3 */
/* Color 4 */
/* Color 5 */
/* Color 6 */
/* Color 7 */
/* Color 8 */
/* Color 9 */
/* Color 10 */
.color1-preview {
  background-image: linear-gradient(-45deg, #edf2f6 50%, #494953 50%); }

.color1 h1, .color1 h2, .color1 h3, .color1 h4, .color1 h5, .color1 h6 {
  color: #494953; }

.color1 section {
  background-color: #edf2f6;
  background-image: url("./color_assets/bright-squares.png");
  color: #494953; }

.color1 .section > div.frame > div > p > code {
  color: #494953;
  background-color: transparent; }

.color1 p > code, .color1 h1 > code, .color1 h2 > code, .color1 h3 > code, .color1 h4 > code {
  color: #494953;
  background-color: transparent;
  text-transform: none; }

.color1 a {
  color: #494953;
  border-bottom: 1px solid #6a7efc; }

.color1 em {
  color: #6a7efc; }

.color1 table, .color1 th, .color1 td {
  border: 1px solid #333333; }

.color1 table th {
  background-color: rgba(0, 0, 0, 0.1); }

.color1 section .background-image-filter {
  filter: brightness(1.7) contrast(0.5);
  opacity: 0.5; }

.color1 .layout-picture-frame .bordered {
  border: 15px solid #6a7efc; }

.color1 .layout-picture-frame .inner-box {
  background-color: #494953; }
  .color1 .layout-picture-frame .inner-box h1 {
    color: #edf2f6; }
  .color1 .layout-picture-frame .inner-box h2 {
    color: #edf2f6; }

.color1 .layout-circle-title .outer-circle {
  background-color: #6a7efc; }

.color1 .layout-circle-title .circle {
  background-color: #edf2f6; }

.color2-preview {
  background-image: linear-gradient(-45deg, #9bb69f 50%, #515e53 50%); }

.color2 h1, .color2 h2, .color2 h3, .color2 h4, .color2 h5, .color2 h6 {
  color: #515e53; }

.color2 section {
  background-color: #9bb69f;
  color: #515e53; }

.color2 p > code, .color2 h1 > code, .color2 h2 > code, .color2 h3 > code, .color2 h4 > code {
  color: #515e53;
  background-color: transparent;
  text-transform: none; }

.color2 em {
  color: #ece1d0; }

.color2 a {
  color: #515e53;
  border-bottom: 1px solid #9F44D3; }

.color2 strong {
  color: #ece1d0; }

.color2 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color2 table, .color2 th, .color2 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color2 table th {
  background-color: #333333; }

.color2 .layout-picture-frame .bordered {
  border: 15px solid #ece1d0; }

.color2 .layout-picture-frame .inner-box {
  background-color: #515e53; }
  .color2 .layout-picture-frame .inner-box h1 {
    color: #ece1d0; }
  .color2 .layout-picture-frame .inner-box h2 {
    color: #ece1d0; }

.color2 .layout-circle-title .outer-circle {
  background-color: #515e53; }

.color2 .layout-circle-title .circle {
  background-color: #ece1d0; }

.color3-preview {
  background-image: linear-gradient(-45deg, #fbe8d3 50%, #f85f73 50%); }

.color3 h1, .color3 h2, .color3 h3, .color3 h4, .color3 h5, .color3 h6 {
  color: #fbe8d3; }

.color3 section {
  background-color: #f85f73;
  color: #fbe8d3; }

.color3 p > code, .color3 h1 > code, .color3 h2 > code, .color3 h3 > code, .color3 h4 > code {
  color: #fbe8d3;
  background-color: transparent;
  text-transform: none; }

.color3 em {
  color: #384259; }

.color3 a {
  color: #fbe8d3;
  border-bottom: 1px solid #384259; }

.color3 strong {
  color: #384259; }

.color3 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color3 table, .color3 th, .color3 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color3 table th {
  background-color: #333333; }

.color3 .layout-picture-frame .bordered {
  border: 15px solid #384259; }

.color3 .layout-picture-frame .inner-box {
  background-color: #fbe8d3; }
  .color3 .layout-picture-frame .inner-box h1 {
    color: #f85f73; }
  .color3 .layout-picture-frame .inner-box h2 {
    color: #f85f73; }

.color3 .layout-circle-title .outer-circle {
  background-color: #384259; }

.color3 .layout-circle-title .circle {
  background-color: #fbe8d3; }
  .color3 .layout-circle-title .circle h1, .color3 .layout-circle-title .circle h2 {
    color: #f85f73; }

.color4-preview {
  background-image: linear-gradient(-45deg, #f25469 50%, #344045 50%); }

.color4 h1, .color4 h2, .color4 h3, .color4 h4, .color4 h5, .color4 h6 {
  color: #f25469; }

.color4 section {
  background: radial-gradient(#344045, #202c31);
  color: #f25469; }

.color4 p > code, .color4 h1 > code, .color4 h2 > code, .color4 h3 > code, .color4 h4 > code {
  color: #f25469;
  background-color: transparent;
  text-transform: none; }

.color4 em {
  color: white; }

.color4 a {
  color: #f25469;
  border-bottom: 1px solid white; }

.color4 strong {
  color: white; }

.color4 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color4 table, .color4 th, .color4 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color4 table th {
  background-color: #333333; }

.color4 .layout-picture-frame .bordered {
  border: 15px solid white; }

.color4 .layout-picture-frame .inner-box {
  background-color: #f25469; }
  .color4 .layout-picture-frame .inner-box h1 {
    color: #344045; }
  .color4 .layout-picture-frame .inner-box h2 {
    color: #202c31; }

.color4 .layout-circle-title .outer-circle {
  background-color: #f25469; }

.color4 .layout-circle-title .circle {
  background-color: #344045; }

.color5-preview {
  background-image: linear-gradient(-45deg, #fecea8 50%, #344045 50%); }

.color5 h1, .color5 h2, .color5 h3, .color5 h4, .color5 h5, .color5 h6 {
  color: #fecea8; }

.color5 section {
  background: radial-gradient(#344045, #202c31);
  color: #fecea8; }

.color5 p > code, .color5 h1 > code, .color5 h2 > code, .color5 h3 > code, .color5 h4 > code {
  color: #fecea8;
  background-color: transparent;
  text-transform: none; }

.color5 em {
  color: #ebf7fd; }

.color5 a {
  color: #fecea8;
  border-bottom: 1px solid #ebf7fd; }

.color5 strong {
  color: #ebf7fd; }

.color5 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color5 table, .color5 th, .color5 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color5 table th {
  background-color: #333333; }

.color5 .layout-picture-frame .bordered {
  border: 15px solid #ebf7fd; }

.color5 .layout-picture-frame .inner-box {
  background-color: #fecea8; }
  .color5 .layout-picture-frame .inner-box h1 {
    color: #344045; }
  .color5 .layout-picture-frame .inner-box h2 {
    color: #202c31; }

.color5 .layout-circle-title .outer-circle {
  background-color: #fecea8; }

.color5 .layout-circle-title .circle {
  background-color: #344045; }

.color6-preview {
  background-image: linear-gradient(-45deg, #f7f0e9 50%, #424242 50%); }

.color6 h1, .color6 h2, .color6 h3, .color6 h4, .color6 h5, .color6 h6 {
  color: #f7f0e9; }

.color6 section {
  background-color: #424242;
  color: #f7f0e9; }

.color6 p > code, .color6 h1 > code, .color6 h2 > code, .color6 h3 > code, .color6 h4 > code {
  color: #f7f0e9;
  background-color: transparent;
  text-transform: none; }

.color6 em {
  color: #df5333; }

.color6 a {
  color: #f7f0e9;
  border-bottom: 1px solid #df5333; }

.color6 strong {
  color: #df5333; }

.color6 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color6 table, .color6 th, .color6 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color6 table th {
  background-color: #333333; }

.color6 .layout-picture-frame .bordered {
  border: 15px solid #df5333; }

.color6 .layout-picture-frame .inner-box {
  background-color: #f7f0e9; }
  .color6 .layout-picture-frame .inner-box h1 {
    color: #424242; }
  .color6 .layout-picture-frame .inner-box h2 {
    color: #424242; }

.color6 .layout-circle-title .outer-circle {
  background-color: #f7f0e9; }

.color6 .layout-circle-title .circle {
  background-color: #424242; }

.color7-preview {
  background-image: linear-gradient(-45deg, #d7f2f7 50%, #59748c 50%); }

.color7 h1, .color7 h2, .color7 h3, .color7 h4, .color7 h5, .color7 h6 {
  color: #59748c; }

.color7 section {
  background-color: #d7f2f7;
  color: #59748c; }

.color7 p > code, .color7 h1 > code, .color7 h2 > code, .color7 h3 > code, .color7 h4 > code {
  color: #59748c;
  background-color: transparent;
  text-transform: none; }

.color7 em {
  color: #666666; }

.color7 a {
  color: #59748c;
  border-bottom: 1px solid #666666; }

.color7 strong {
  color: #666666; }

.color7 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color7 table, .color7 th, .color7 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color7 table th {
  background-color: #333333; }

.color7 .layout-picture-frame .bordered {
  border: 15px solid #59748c; }

.color7 .layout-picture-frame .inner-box {
  background-color: #59748c; }
  .color7 .layout-picture-frame .inner-box h1 {
    color: #d7f2f7; }
  .color7 .layout-picture-frame .inner-box h2 {
    color: #d7f2f7; }

.color7 .layout-circle-title .outer-circle {
  background-color: #59748c; }

.color7 .layout-circle-title .circle {
  background-color: #d7f2f7; }

.color8-preview {
  background-image: linear-gradient(-45deg, #dce9be 50%, #555152 50%); }

.color8 h1, .color8 h2, .color8 h3, .color8 h4, .color8 h5, .color8 h6 {
  color: #dce9be; }

.color8 section {
  background: radial-gradient(#555152, #2e2633);
  color: #dce9be; }

.color8 p > code, .color8 h1 > code, .color8 h2 > code, .color8 h3 > code, .color8 h4 > code {
  color: #dce9be;
  background-color: transparent;
  text-transform: none; }

.color8 em {
  color: #f38181; }

.color8 a {
  color: #dce9be;
  border-bottom: 1px solid #f38181; }

.color8 strong {
  color: #f38181; }

.color8 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color8 table, .color8 th, .color8 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color8 table th {
  background-color: #333333; }

.color8 .layout-picture-frame .bordered {
  border: 15px solid #f38181; }

.color8 .layout-picture-frame .inner-box {
  background-color: #dce9be; }
  .color8 .layout-picture-frame .inner-box h1 {
    color: #555152; }
  .color8 .layout-picture-frame .inner-box h2 {
    color: #2e2633; }

.color8 .layout-circle-title .outer-circle {
  background-color: #dce9be; }

.color8 .layout-circle-title .circle {
  background-color: #555152; }

.color9-preview {
  background-image: linear-gradient(-45deg, #fafafa 50%, #ff6b0d 50%); }

.color9 h1, .color9 h2, .color9 h3, .color9 h4, .color9 h5, .color9 h6 {
  color: #fafafa; }

.color9 section {
  background: radial-gradient(#ff984c, #ff6b0d);
  color: #fafafa; }

.color9 p > code, .color9 h1 > code, .color9 h2 > code, .color9 h3 > code, .color9 h4 > code {
  color: #fafafa;
  background-color: transparent;
  text-transform: none; }

.color9 em {
  color: #222; }

.color9 a {
  color: #fafafa;
  border-bottom: 1px solid #222; }

.color9 strong {
  color: #222; }

.color9 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color9 table, .color9 th, .color9 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color9 table th {
  background-color: #333333; }

.color9 .layout-picture-frame .bordered {
  border: 15px solid #222; }

.color9 .layout-picture-frame .inner-box {
  background-color: #fafafa; }
  .color9 .layout-picture-frame .inner-box h1 {
    color: #222; }
  .color9 .layout-picture-frame .inner-box h2 {
    color: #222; }

.color9 .layout-circle-title .outer-circle {
  background-color: #fafafa; }

.color9 .layout-circle-title .circle {
  background-color: #ff984c; }

.color10-preview {
  background-image: linear-gradient(-45deg, #fafafa 50%, #005bea 50%); }

.color10 h1, .color10 h2, .color10 h3, .color10 h4, .color10 h5, .color10 h6 {
  color: #fafafa; }

.color10 section {
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: #fafafa; }

.color10 p > code, .color10 h1 > code, .color10 h2 > code, .color10 h3 > code, .color10 h4 > code {
  color: #fafafa;
  background-color: transparent;
  text-transform: none; }

.color10 a {
  border-bottom: #9F44D3; }

.color10 em {
  color: #9F44D3; }

.color10 a {
  color: #fafafa;
  border-bottom: 1px solid #9F44D3; }

.color10 strong {
  color: #222; }

.color10 section .background-image-filter {
  filter: contrast(0.7) brightness(2);
  opacity: 0.3; }

.color10 table, .color10 th, .color10 td {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.color10 table th {
  background-color: #333333; }

.color10 .layout-picture-frame .bordered {
  border: 15px solid #fafafa; }

.color10 .layout-picture-frame .inner-box {
  background-color: #fafafa; }
  .color10 .layout-picture-frame .inner-box h1 {
    color: #00c6fb; }
  .color10 .layout-picture-frame .inner-box h2 {
    color: #005bea; }

.color10 .layout-circle-title .outer-circle {
  background-color: #fafafa; }

.color10 .layout-circle-title .circle {
  background-color: #00c6fb; }

.layout-picture-frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .layout-picture-frame .inner-box {
    width: 300px;
    height: 300px;
    margin: 2px;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center; }
    .layout-picture-frame .inner-box h1 {
      width: 100%;
      margin-top: 10px !important;
      font-size: 50px !important;
      word-wrap: normal;
      white-space: normal !important; }
    .layout-picture-frame .inner-box h2 {
      margin-top: 30px;
      word-wrap: normal;
      white-space: normal !important; }

.layout-left-title {
  width: 100%; }
  .layout-left-title > div {
    height: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px; }
  .layout-left-title h1 {
    font-size: 70px !important;
    white-space: normal !important;
    text-align: left; }
  .layout-left-title h2 {
    font-size: 40px !important;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 30px; }

.layout-circle-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .layout-circle-title .outer-circle {
    padding: 3px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .layout-circle-title .circle {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .layout-circle-title .circle h1 {
      font-size: 50px !important;
      white-space: normal !important;
      width: 350px;
      text-align: center;
      margin-left: 15px;
      margin-bottom: 20px; }
    .layout-circle-title .circle h2 {
      font-size: 30px !important;
      margin-left: 15px;
      width: 350px; }

.nav > li {
  height: 66px; }
  .nav > li > a {
    height: 100%; }

.nav .btn.create-new-deck {
  margin-top: 5px;
  margin-left: 20px; }

.nav .help-support {
  color: #c8c8c8;
  font-size: 14px;
  margin-right: 50px;
  padding-top: 12px;
  cursor: pointer; }
  .nav .help-support span {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    vertical-align: top; }
  .nav .help-support i {
    cursor: pointer;
    color: #6b64f6;
    font-size: 30px; }

.nav > li > a:hover {
  background-color: inherit !important; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: inherit !important; }

.navbar-nav > li > a:before {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  height: 5px;
  bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s; }

.navbar-nav > li > a:hover:before, .navbar-nav > li.active > a:before, .navbar-nav > li > a.active:before {
  transform: scaleX(1);
  left: 10%;
  bottom: 0px;
  background: linear-gradient(to left, #6b64f6 0%, #668df5 100%);
  visibility: visible; }

.navbar {
  background-color: #191f2f;
  height: 80px;
  border-radius: 0 !important;
  font-family: "cabin";
  margin-bottom: 0 !important;
  box-shadow: 0 4px 10px -2px #111;
  z-index: 100; }

ul.nav > li > a {
  color: #fafafa; }

.navbar-header {
  border-right: 1px solid black;
  padding-left: 15px;
  padding-right: 15px; }

.navbar-brand {
  font-weight: normal;
  font-size: 35px !important;
  margin-top: 13px; }

.navbar-login-info {
  font-size: 20px;
  padding-top: 7px; }

.navbar-nav {
  margin-top: 13px !important;
  font-size: 16px;
  margin-left: 15px; }

.navbar-avatar {
  width: 40px;
  border-radius: 100%;
  float: right;
  padding-top: 2px;
  margin-left: -5px; }

.navbar-username {
  color: #c8c8c8;
  font-size: 20px;
  display: block; }

.navbar-username i {
  margin-right: 7px;
  font-size: 20px; }

#help-popover {
  background: linear-gradient(to left, #6b64f6 0%, #668df5 100%);
  padding: 5px;
  max-width: 350px; }
  #help-popover li {
    color: gainsboro; }
    #help-popover li:last-child {
      margin-top: 30px; }
    #help-popover li img {
      float: left;
      width: 25px; }
  #help-popover .description {
    margin-left: 40px; }
  #help-popover .arrow {
    background: linear-gradient(to left, #6b64f6 0%, #668df5 100%); }
  #help-popover .arrow:after {
    border-bottom-color: #6879f5; }

.deck {
  position: relative; }
  .deck .deck-half {
    position: absolute;
    width: 50%;
    top: 0;
    height: 100%;
    z-index: 1000; }
  .deck .deck-half-right {
    left: 50%; }

.deck > ul {
  margin-bottom: 0; }

.deck > ul > li {
  list-style-type: none; }

.slide-counter {
  color: #dedede;
  margin: 10px; }

.slide-preview {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 53%;
  left: calc(50% - 145px);
  z-index: 200;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 5px;
  padding: 5px;
  width: 250px; }

.selection-wrapper {
  border: 2px solid transparent;
  position: relative; }

.selection-wrapper:hover .unselected {
  border-radius: 3px;
  border: 2px solid #4e4e4e; }

.selection-wrapper > .unselected {
  border: 2px solid transparent;
  border-radius: 3px;
  overflow: hidden; }

.selection-wrapper > .selected {
  border-radius: 3px;
  border: 2px solid #aaa;
  overflow: hidden; }

.drag-element {
  list-style-type: none;
  margin: 5px;
  border: 2px solid transparent; }

.new-slide-link {
  font-size: 30px;
  text-align: center;
  width: 100%; }

.slide-options {
  position: absolute;
  font-size: 20px;
  z-index: 100;
  right: 5%;
  top: 10%;
  cursor: pointer; }

.edit-popover li {
  margin: 8px; }

.edit-popover a, .edit-popover i {
  color: #333; }

.edit-popover a:hover {
  color: #333 !important; }

.bottom-area {
  display: flex;
  width: 100%; }
  .bottom-area .arrow {
    background-color: #6b64f6;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .bottom-area .left-arrow {
    border-bottom-left-radius: 5px; }
    .bottom-area .left-arrow img {
      transform: rotate(180deg); }
  .bottom-area .right-arrow {
    border-bottom-right-radius: 5px; }
  .bottom-area .ud-progress-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191f2f;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 70px); }
    .bottom-area .ud-progress-bar .slide {
      background-color: #333847;
      height: 10px;
      width: 100%;
      margin-left: 2px;
      margin-right: 2px; }
    .bottom-area .ud-progress-bar a.past {
      background-color: #6b64f6; }

.title-share-icon {
  width: 15px; }

.share-link-list li {
  margin-bottom: 10px;
  font-size: 15px; }

.share-link-list li.header-row {
  font-weight: bold;
  border-bottom: 1px solid #222831; }

.share-link-actions a {
  margin-right: 15px; }

.copy-deck-url {
  border-radius: 4px;
  width: 100%;
  height: 60px;
  display: flex; }
  .copy-deck-url input {
    background-color: #ececec;
    border: none; }
  .copy-deck-url .deck-url-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    color: #6d6d6d;
    background-color: #e2e2e2;
    font-weight: bold;
    font-size: 15px; }
  .copy-deck-url .deck-url {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #6d6d6d;
    background-color: #ececec; }
    .copy-deck-url .deck-url .deck-url-text {
      width: 100%;
      padding-top: 18px; }
    .copy-deck-url .deck-url button {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;
      color: #fafafa; }
      .copy-deck-url .deck-url button:hover, .copy-deck-url .deck-url button:focus {
        color: #fafafa; }
