.color2-preview {
  background-image: $theme-color2-preview;
}

.color2 {
  h1,h2,h3,h4,h5,h6 {
    color: $theme-color2-fg;
  }

  section {
    background-color: $theme-color2-bg;
    color: $theme-color2-fg;
  }

  p, h1, h2, h3, h4 {
    > code {
      color: $theme-color2-fg;
      background-color: transparent;
      text-transform: none;
    }
  }

  em {
    color: $theme-color2-emphasis;
  }

  a {
    color: $theme-color2-fg;
    border-bottom: 1px solid $theme-color10-emphasis;
  }

  strong {
    color: $theme-color2-strong;
  }

  section .background-image-filter {
    filter: contrast(0.7) brightness(2.0);
    opacity: 0.3;
  }

  table, th, td {
    border: 1px solid $theme-color2-table-th;
  }

  table th {
    background-color: $theme-color2-table-border;
  }

  .layout-picture-frame {
    .bordered {
      border: 15px solid $theme-color2-emphasis;
    }

    .inner-box {
      background-color: $theme-color2-fg;

      h1 {
        color: $theme-color2-emphasis;
      }

      h2 {
        color: $theme-color2-emphasis;
      }

    }
  }

  .layout-circle-title {
    .outer-circle {
      background-color: $theme-color2-fg;
    }

    .circle {
      background-color: $theme-color2-emphasis;
    }
  }

  @import "../themes/code-dark";
}
