/* Color 1 */

$theme-color1-bg: rgb(237,242,246);
$theme-color1-fg: rgb(73,73,83);
$theme-color1-emphasis: rgb(106,126,252);
$theme-color1-pre: rgb(50,50,50);

$theme-color1-preview: linear-gradient(-45deg, $theme-color1-bg 50%, $theme-color1-fg 50%);

$theme-color1-table-th: rgba(0,0,0,0.1);
$theme-color1-table-border: rgb(51,51,51);

/* Color 2 */

$theme-color2-bg: rgb(155,182,159);
$theme-color2-fg: rgb(81,94,83);
$theme-color2-emphasis: rgb(236,225,208);
$theme-color2-strong: rgb(236,225,208);
$theme-color2-pre: rgb(222,222,222);

$theme-color2-preview: linear-gradient(-45deg, $theme-color2-bg 50%, $theme-color2-fg 50%);

$theme-color2-table-th: rgba(0,0,0,0.1);
$theme-color2-table-border: rgb(51,51,51);

/* Color 3 */

$theme-color3-bg: rgb(248,95,115);
$theme-color3-fg: rgb(251,232,211);
$theme-color3-emphasis: rgb(56,66,89);
$theme-color3-strong: rgb(56,66,89);
$theme-color3-pre: rgb(222,222,222);

$theme-color3-preview: linear-gradient(-45deg, $theme-color3-fg 50%, $theme-color3-bg 50%);

$theme-color3-table-th: rgba(0,0,0,0.1);
$theme-color3-table-border: rgb(51,51,51);

/* Color 4 */

$theme-color4-bg-one: rgb(52,64,69);
$theme-color4-bg-two: rgb(32,44,49);
$theme-color4-bg: radial-gradient($theme-color4-bg-one, $theme-color4-bg-two);
$theme-color4-fg: rgb(242,84,105);
$theme-color4-emphasis: rgb(255,255,255);
$theme-color4-strong: rgb(255,255,255);
$theme-color4-pre: rgb(222,222,222);

$theme-color4-preview: linear-gradient(-45deg, $theme-color4-fg 50%, rgb(52,64, 69) 50%);

$theme-color4-table-th: rgba(0,0,0,0.1);
$theme-color4-table-border: rgb(51,51,51);

/* Color 5 */

$theme-color5-bg-one: rgb(52,64,69);
$theme-color5-bg-two: rgb(32,44,49);
$theme-color5-bg: radial-gradient($theme-color5-bg-one, $theme-color5-bg-two);
$theme-color5-fg: rgb(254,206,168);
$theme-color5-emphasis: rgb(235,247,253);
$theme-color5-strong: rgb(235,247,253);
$theme-color5-pre: rgb(222,222,222);

$theme-color5-preview: linear-gradient(-45deg, rgb(254,206,168) 50%, rgb(52,64,69) 50%);

$theme-color5-table-th: rgba(0,0,0,0.1);
$theme-color5-table-border: rgb(51,51,51);

/* Color 6 */

$theme-color6-bg: rgb(66,66,66);
$theme-color6-fg: rgb(247,240,233);
$theme-color6-emphasis: rgb(223,83,51);
$theme-color6-strong: rgb(223,83,51);
$theme-color6-pre: rgb(222,222,222);

$theme-color6-preview: linear-gradient(-45deg, $theme-color6-fg 50%, $theme-color6-bg 50%);

$theme-color6-table-th: rgba(0,0,0,0.1);
$theme-color6-table-border: rgb(51,51,51);

/* Color 7 */

$theme-color7-bg: rgb(215,242,247);
$theme-color7-fg: rgb(89,116,140);
$theme-color7-emphasis: rgb(102,102,102);
$theme-color7-strong: rgb(102,102,102);
$theme-color7-pre: rgb(222,222,222);

$theme-color7-preview: linear-gradient(-45deg, $theme-color7-bg 50%, $theme-color7-fg 50%);

$theme-color7-table-th: rgba(0,0,0,0.1);
$theme-color7-table-border: rgb(51,51,51);

/* Color 8 */

$theme-color8-bg-one: rgb(85,81,82);
$theme-color8-bg-two: rgb(46,38,51);
$theme-color8-bg: radial-gradient($theme-color8-bg-one, $theme-color8-bg-two);
$theme-color8-fg: rgb(220,233,190);
$theme-color8-emphasis: rgb(243,129,129);
$theme-color8-strong: rgb(243,129,129);
$theme-color8-pre: rgb(222,222,222);

$theme-color8-preview: linear-gradient(-45deg, $theme-color8-fg 50%, rgb(85,81,82) 50%);

$theme-color8-table-th: rgba(0,0,0,0.1);
$theme-color8-table-border: rgb(51,51,51);

/* Color 9 */

$theme-color9-bg-one: rgb(255,152,76);
$theme-color9-bg-two: rgb(255,107,13);
$theme-color9-bg: radial-gradient($theme-color9-bg-one, $theme-color9-bg-two);
$theme-color9-fg: rgb(250,250,250);
$theme-color9-emphasis: #222;
$theme-color9-strong: #222;
$theme-color9-pre: rgb(222,222,222);

$theme-color9-preview: linear-gradient(-45deg, rgb(250,250,250) 50%, rgb(255,107,13) 50%);

$theme-color9-table-th: rgba(0,0,0,0.1);
$theme-color9-table-border: rgb(51,51,51);

/* Color 10 */

$theme-color10-bg-one: rgb(0,198,251);
$theme-color10-bg-two: rgb(0,91,234);
$theme-color10-bg: linear-gradient(to top, $theme-color10-bg-one 0%, $theme-color10-bg-two 100%);
$theme-color10-fg: rgb(250,250,250);
$theme-color10-emphasis: #9F44D3;
$theme-color10-strong: #222;
$theme-color10-pre: rgb(222,222,222);

$theme-color10-preview: linear-gradient(-45deg, rgb(250,250,250) 50%, rgb(0,91,234) 50%);

$theme-color10-table-th: rgba(0,0,0,0.1);
$theme-color10-table-border: rgb(51,51,51);
