/* Fauna */
@import url('https://fonts.googleapis.com/css?family=Cabin|Patrick+Hand');

.theme-2  {
  --primary-font: "Cabin";
  --secondary-font: "Patrick Hand";

  font-family: var(--primary-font);
}

.theme-2  h1,h2,h3,h4,p,a {
  font-family: var(--primary-font);
}

.theme-2  em {
  font-family: var(--primary-font);
}


.theme-2  h1 {
  font-size: 68px;
}

.theme-2  h2 {
  font-size: 88px;
}

.theme-2  h3 {
  font-size: 70px;
}

.theme-2  h4 {
  font-size: 38px;
}

.theme-2  section ol {
  list-style-type: decimal;
}

.theme-2  section ul {
  list-style-type: disc;
}

.theme-2  section li {
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 23px;
}

.theme-2  section p {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.theme-2  section strong {
  font-weight: bold
}

.theme-2 .layout-picture-frame h1 {
  margin-top: 50px !important;
}

.theme-2 .layout-picture-frame h2 {
  font-size: 25px !important;
  font-family: $secondary-font;
}
