.layout-picture-frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    border: 15px solid var(--theme-color-emphasis);

    > div {
      width: 300px;
      height: 300px;
      margin: 2px;
      padding: 5px;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--theme-color-fg);

      h1 {
        width: 100%;
        margin-top: 10px !important;
        font-size: 50px !important;
        word-wrap: normal;
        white-space: normal !important;
        color: var(--theme-color-bg);
        font-family: var(--primary-font);
      }

      h2 {
        margin-top: 30px;
        word-wrap: normal;
        white-space: normal !important;
        color: var(--theme-color-bg);
        font-family: var(--secondary-font);
        font-size: 25px;
      }
    }
  }
}
