.color-2 {
  --theme-color-bg: rgb(155,182,159);
  --theme-color-fg: rgb(81,94,83);
  --theme-color-emphasis: rgb(236,225,208);
  --theme-color-strong: rgb(236,225,208);
  --theme-color-pre: rgb(222,222,222);
  --theme-color-table-th: rgba(0,0,0,0.1);
  --theme-color-table-border: rgb(51,51,51); }
  .color-2 .preview {
    background-image: linear-gradient(-45deg, var(--theme-color-bg) 50%, var(--theme-color-fg) 50%); }
  .color-2 h1, .color-2 h2, .color-2 h3, .color-2 h4, .color-2 h5, .color-2 h6 {
    color: var(--theme-color-fg); }
  .color-2 section {
    background-color: var(--theme-color-bg);
    color: var(--theme-color-fg); }
  .color-2 .section > div.frame > div > p > code {
    color: var(--theme-color-fg);
    background-color: transparent; }
  .color-2 p > code, .color-2 h1 > code, .color-2 h2 > code, .color-2 h3 > code, .color-2 h4 > code {
    color: var(--theme-color-fg);
    background-color: transparent;
    text-transform: none; }
  .color-2 a {
    color: var(--theme-color-fg);
    border-bottom: 1px solid var(--theme-color-emphasis); }
  .color-2 em {
    color: var(--theme-color-emphasis); }
  .color-2 strong {
    color: var(--theme-color-strong); }
  .color-2 table, .color-2 th, .color-2 td {
    border: 1px solid var(--theme-color-table-border); }
  .color-2 table th {
    background-color: var(--theme-color-table-th); }
  .color-2 section .background-image-filter {
    filter: contrast(0.7) brightness(2);
    opacity: 0.3; }
  .color-2 pre {
    background-color: #323232;
    padding: 8px 15px;
    display: block;
    overflow: hidden;
    color: #bababa;
    line-height: 1.1;
    font-size: 17px;
    border-radius: 5px; }
  .color-2 .hljs-strong,
  .color-2 .hljs-emphasis {
    color: #a8a8a2; }
  .color-2 .hljs-bullet,
  .color-2 .hljs-quote,
  .color-2 .hljs-link,
  .color-2 .hljs-number,
  .color-2 .hljs-regexp,
  .color-2 .hljs-literal {
    color: #6896ba; }
  .color-2 .hljs-code,
  .color-2 .hljs-selector-class {
    color: #a6e22e; }
  .color-2 .hljs-emphasis {
    font-style: italic; }
  .color-2 .hljs-keyword,
  .color-2 .hljs-selector-tag,
  .color-2 .hljs-section,
  .color-2 .hljs-attribute,
  .color-2 .hljs-name,
  .color-2 .hljs-variable {
    color: #cb7832; }
  .color-2 .hljs-params {
    color: #b9b9b9; }
  .color-2 .hljs-string {
    color: #6a8759; }
  .color-2 .hljs-subst,
  .color-2 .hljs-type,
  .color-2 .hljs-built_in,
  .color-2 .hljs-builtin-name,
  .color-2 .hljs-symbol,
  .color-2 .hljs-selector-id,
  .color-2 .hljs-selector-attr,
  .color-2 .hljs-selector-pseudo,
  .color-2 .hljs-template-tag,
  .color-2 .hljs-template-variable,
  .color-2 .hljs-addition {
    color: #e0c46c; }
  .color-2 .hljs-comment,
  .color-2 .hljs-deletion,
  .color-2 .hljs-meta {
    color: #7f7f7f; }
