/*
// .present-notes {
//   width: 100%;
//
//   p,h1,h2,h3,h4,h5,h6,ul,ol,pre,.background-image {
//     display: none !important;
//   }
//
//   p.presenter-notes {
//     display: block;
//     font-size: 50px;
//   }
// }
*/

.CodeMirror {
  min-height: 300px;
}

.slide-outer {
  overflow: hidden;
}

section {
  display: block; /* needed to display background images */
}

section * {
  all: unset;
}

/* disable highlighting/selecting for a more native app feel */
section :not(a):not(input):not(textarea),
:not(a):not(input):not(textarea)::after,
:not(a):not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

section a {
  cursor: pointer;
}

section div, li {
  display: block;
}

section pre {
  font-family: 'Inconsolata';
  white-space: pre;
  padding: 10px;
}

section table {
  display: table;
  width: 100%;
  font-size: 30px;

  section thead {
    display: table-header-group;
  }

  section tbody {
    display: table-row-group;
  }

  section tr {
    display: table-row;
  }

  section td, th {
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

section h1,h2,h3,h4 {
  display: block;
  word-wrap: break-word;
  text-align: center;
}

section h1.fit {
  font-size: 20px;
  white-space: nowrap;
  display: none; /* gets resized via JS in the <Slide> component */
  margin-top: 0;
}

section .frame {
  width: 100%;
  height: 100%;
}

section .frame  > div {
  padding: 25px;
}

/* Used when there is a single h1 element on screen. */
section .singleElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section .background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px;
}

section .background-image-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px;
}

@keyframes kenburns {
  50% {
    transform: scale3d(1.6, 1.6, 1.6) translate3d(-60px, -50px, 0px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out;
  }
}

section .background-image-kenburns {
  animation: kenburns 90s infinite;
  zoom: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 450px;
}

section .background-image-inline {
  width: 100%;
  max-width: 720px;
  max-height: 425px;
}

section .slideContainer {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

section  .left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(50% - 20px);
}

section .ldef .background-image {
  top: -10px;
  left: -370px;
}

section .right {
  position: absolute;
  top: 10px;
  left: calc(50% + 10px);
  width: calc(50% - 20px);

  section .right .background-image {
    top: -10px;
  }
}
